nav {
    background-color: rgba(255, 255, 255, 0.3);
}
.nav-item {
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: .05rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    &.active {
        font-weight: 400;
    }
}