<footer class="footer">
    <div class="container text-center">
        <div class="copyright"> Chang Liu &copy; Copyright 2018</div>
        <div class="footerIcons">
            <a href="//github.com/lucia33" target="_blank" title="Github, barely contribute but trying to do more in the future">
                <fa-icon [icon]="['fab', 'github']"></fa-icon>
            </a>
            <a href="//ca.linkedin.com/in/changliulucia" target="_blank" title="Linkedin, with complete professional working history">
                <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
            </a>
            <a href="mailto:admin@changliu.ca" title="Email me about work, idea, life of new immigrant">
                <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
            </a>
            <a href="//instagram.com/lucia_2010_3/" target="_blank" title="Instagram, food, Asian food and nature">
                <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
            </a>
            <a href="//geo.itunes.apple.com/us/podcast/lucias-music-space/id1214581936?mt=2" target="_blank" title="Podcast, nature sound for peace mind recorded by me, and other random stuff">
                <fa-icon [icon]="['fas', 'podcast']"></fa-icon>
            </a>
        </div>
    </div>
</footer>