<section id="about" class="container inner-width-wrapper">

  <div class="about-block">
    <h2>About me</h2>
    <p>
      Nothing makes me happier than fixing problems and nothing excites me more than learning new things. I'm always
      open to new ideas and opportunities since I feel there's so much to learn, and one person's strength is limited,
      but together we can inspire each other and make a difference.
    </p>
  </div>

  <div class="d-none about-block">
    <h2>Past</h2>
    <p>

    </p>
  </div>

</section>