<div id="About">


  <div class="container">
    <div class="page-header text-center">
      <h1 id="timeline">About Me</h1>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="May 2017" id=""></i></a></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <i class="fa fa-code" aria-hidden="true"></i>

          </div>
          <div class="timeline-body">
            <p>Moved to GTA & continue learning</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="August 2016"
              id=""></i></a></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <img class="img-responsive" src="images/georgian.jpg" />
          </div>
          <div class="timeline-body">
            <p>Graduated from Georgian College from 2-year Computer Programming Diploma Program with honors</p>
          </div>
        </div>
      </li>

      <li>
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="Jan 2016"
              id=""></i></a></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <img style="padding:30px 20px;" class="img-responsive" src="images/busch_logo.png" />
          </div>
          <div class="timeline-body">
            <p>Joined Busch Systems & developed awesome web apps in marketing team</p>
          </div>

          <div class="timeline-footer">
            <a href="http://www.buschsystems.com">Main Site</a>
            <a class="pull-right" href="http://www.buschsystems.com/resource-center">Resource Center</a>
          </div>
        </div>
      </li>


      <li class="timeline-inverted">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="August 2014"
              id=""></i></a></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          </div>
          <div class="timeline-body">
            <p>Moved to Barrie, began study in Computer Programming, Georgian College</p>
          </div>
        </div>
      </li>

      <li>
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="2010-2014"
              id=""></i></a></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <i class="fa fa-spinner spin" aria-hidden="true"></i>
          </div>
          <div class="timeline-body">
            <p>Discovering interests & passions in career</p>
          </div>

        </div>
      </li>



      <li class="timeline-inverted">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="2010"
              id=""></i></a></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <img class="img-responsive" src="images/sichuan_uni.png" />
          </div>
          <div class="timeline-body">
            <p>Graduated from Sichuan University with Bachelor Degree of Engineering</p>

          </div>
        </div>
      </li>


      <li class="clearfix" style="float: none;"></li>
    </ul>
  </div>

</div>